.navbar {
    display: flex;
    justify-content: space-between;
    padding: 40px 110px;
}

.links{
    display: flex;
    list-style: none;
    gap: 100px;
}

.links a{
    text-decoration: none;
    color: #2E266F;
}